{% extends 'base.html' %}
{% block form %}
  <div class="container m-5">
    <form action="/data/" method="post" enctype="multipart/form-data">
        {% csrf_token %}
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Name</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Name" name="username" />
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Email address</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com" name="user_email" />
      </div>
      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Descripation</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="descripation"></textarea>
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Image</label>
        <input type="file" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com" name="user_image" />
      </div>

      <button class="btn btn-primary">Submit</button>
    </form>
  </div>
{% endblock %}
